<h3> Explanation </h3>

In [1]:
# avg_payment - средний чек

*By saying "distict item", I mean that I do not take into account the number of such goods in one order
<h4> Prices and Counters </h4>
<ul>
    <li><i>successful_orders_count</i> - number of total delivered orderes that were performed by the client </li>
    <li><i>avg_unique_items_per_order</i> - number of distict items that are purchased on average in one order </li>
    <li><i>all_unique_items_purchased</i> - total number of distict items that has ever been purchased across all orders made </li>
    <li><i>avg_items_per_order</i> - number of items purchased on average in one order </li>
    <li><i>all_items_purchased</i> - total number of items ever purchased by the client across all orders made </li>
    <li><i>avg_item_price</i> - average price of one good in one order </li>
    <li><i>avg_unique_items_price</i> - average price of one distict good in one order </li>
    <li><i>all_items_price</i> - total price of all items ever purchased by the client </li>
    <li><i>avg_summed_cost_of_items_per_order</i> - average price of all items summed in one order </li>
    <li><i>total_shipping_charges</i> - total cost of all shipping costs ever charged </li>
    <li><i>avg_shipping_charges</i> - average cost of shipping charges per order </li>
    <li><i>total_service_charges</i> - total cost of all service costs ever charged </li>
    <li><i>avg_service_charges</i> - total cost of service charges per order </li>
    <li><i>total_payment</i> - total value paid by the client </li>
    <li><i>avg_payment</i> - average value paid by the client per order </li>
    <li><i>total_profit</i> - total profit for one client </li>
    <li><i>avg_order_profit</i> - average profit per order </li>
    <li><i>avg_item_profit</i> - average profit per item </li><br>
</ul>
<h4>Share of items in a certain category</h4>
<ul>
    <li><i>related products</i></li>
    <li><i>baby food</i></li>
    <li><i>office goods</i></li>
    <li><i>books, disks</i></li>
    <li><i>breastfeeding products</i></li>
    <li><i>textile, knitwear</i></li>
    <li><i>footwear</i></li>
    <li><i>oversized goods</i></li>
    <li><i>toys</i></li>
    <li><i>women things</i></li>
    <li><i>goods for pets</i></li>
    <li><i>cosmetics and hygiene</i></li>
    <li><i>diapers</i></li>
</ul>
<h4>Share of different shipping methods used</h4>
<ul>
    <li><i>pickup</i></li>
    <li><i>express delivery</i></li>
    <li><i>transport company</i></li>
    <li><i>DPD</i></li>
    <li><i>pick point</i></li>
    <li><i>store</i></li>
</ul>
<h4>Share of item size category</h4>
<ul>
    <li><i>Oversized</i></li>
    <li><i>Compact</i></li>
</ul>
<h4>Share of payment method used</h4>
<ul>
    <li><i>cash payment</i></li>
    <li><i>cashless payment</i></li>
</ul>
<h4>Canceled and delivered orders</h4>
<ul>
    <li><i>number_canceled</i> - total number of canceled orders per client</li>
    <li><i>avg_number_canceled</i> - average number of canceled orders per client</li>
    <li><i>total_delivered</i> - total number of delivered orders per client </li>
    <li><i>avg_delivered</i> - average number of delivered orders per client </li>
</ul>

In [2]:
import pandas as pd
import numpy as np
from scipy import stats

In [3]:
data = pd.read_csv('SAS_data_clean11.csv', sep=";", encoding='cp1251')

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
data.columns

Index(['Unnamed: 0', 'Дата', 'ДатаДоставки', 'НомерЗаказаНаСайте',
       'НовыйСтатус', 'СуммаЗаказаНаСайте', 'СуммаДокумента', 'МетодДоставки',
       'ФормаОплаты', 'Регион', 'Группа2', 'Группа3', 'Группа4', 'Тип',
       'Номенклатура', 'ТипТовара', 'Отменено', 'ПричинаОтмены', 'Количество',
       'Цена', 'СуммаСтроки', 'ЦенаЗакупки', 'МесяцДатыЗаказа',
       'ГодДатыЗаказа', 'ПВЗ_код', 'Статус', 'Гео', 'Маржа', 'СуммаУслуг',
       'СуммаДоставки', 'НомерСтроки', 'КоличествоПроданоКлиенту',
       'ДатаЗаказаНаСайте', 'Телефон_new', 'ЭлектроннаяПочта_new', 'Клиент',
       'ID_SKU', 'ГородМагазина', 'МагазинЗаказа'],
      dtype='object')

In [5]:
# number of orders, average order sum, average number of items in order, how much one paid, number of items, mean profit, 
# number of returned, return percentage, category percentage

<h5> Convert to numeric </h5>

In [6]:
numeric = ['СуммаЗаказаНаСайте', 'СуммаДокумента', 'Количество', 'Цена', 'СуммаСтроки', 'ЦенаЗакупки', 'Маржа', 'СуммаУслуг',
          'СуммаДоставки', 'КоличествоПроданоКлиенту']

def clear_to_int(x):
    x = str(x)
    
    x = x.replace(' ', '').replace(',','.')
    return float(x)

for c in numeric:
    data[c] = data[c].apply(lambda x: clear_to_int(x)).astype(int)

<h4> Categorical stats </h4>

<h6> Total number of items purchased in each category </h6>

In [7]:
list(set(data['Группа2'].values))

['ПОДГУЗНИКИ',
 'ИГРУШКИ',
 'СОПУТСТВУЮЩИЕ ТОВАРЫ',
 'ТЕХНИКА И ТОВАРЫ ДЛЯ ДОМА',
 'КОСМЕТИКА/ГИГИЕНА',
 'ТЕКСТИЛЬ, ТРИКОТАЖ',
 'ДЕТСКОЕ ПИТАНИЕ',
 'ТОВАРЫ ДЛЯ ЖИВОТНЫХ',
 'КРУПНОГАБАРИТНЫЙ ТОВАР',
 'КАНЦТОВАРЫ, КНИГИ, ДИСКИ',
 'ЖЕНСКИЕ ШТУЧКИ',
 'ОБУВЬ',
 'ТОВАРЫ ДЛЯ КОРМЛЕНИЯ']

In [8]:
# sum the number of the items within a group
def pr(x, tag):
    return (np.array(x).reshape((-1)) == tag).sum()

In [9]:
index_sort = (data['НовыйСтатус'] == 'Доставлен') & (data['Отменено'] == 'Нет')

In [10]:
items_groups = data[index_sort].groupby(['Телефон_new', 'НомерЗаказаНаСайте']).agg({
    'Группа2': {
        'related products' : lambda x: pr(x,'СОПУТСТВУЮЩИЕ ТОВАРЫ'),
        'baby food' : lambda x: pr(x,'ДЕТСКОЕ ПИТАНИЕ'),
        'office goods' : lambda x: pr(x,'КАНЦТОВАРЫ, КНИГИ, ДИСКИ'),
        'books, disks' : lambda x: pr(x,'ДЕТСКОЕ ПИТАНИЕ'),
        'breastfeeding products' : lambda x: pr(x,'ТОВАРЫ ДЛЯ КОРМЛЕНИЯ'),
        'textile, knitwear' : lambda x: pr(x,'ТЕКСТИЛЬ, ТРИКОТАЖ'),
        'footwear' : lambda x: pr(x,'ОБУВЬ'),
        'oversized goods' : lambda x: pr(x,'КРУПНОГАБАРИТНЫЙ ТОВАР'),
        'toys' : lambda x: pr(x,'ИГРУШКИ'),
        'women things' : lambda x: pr(x,'ЖЕНСКИЕ ШТУЧКИ'),
        'goods for pets' : lambda x: pr(x,'ТОВАРЫ ДЛЯ ЖИВОТНЫХ'),
        'cosmetics and hygiene' : lambda x: pr(x,'КОСМЕТИКА/ГИГИЕНА'),
        'diapers' : lambda x: pr(x,'ПОДГУЗНИКИ'),
    }
})
items_groups.columns = items_groups.columns.get_level_values(1)
items_groups = items_groups.groupby(level=0).agg('sum')

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\pandas\core\groupby\generic.py:1455: FutureWarning: using a dict with renaming is deprecated and will be removed
in a future version.

For column-specific groupby renaming, use named aggregation

    >>> df.groupby(...).agg(name=('column', aggfunc))

  return super().aggregate(arg, *args, **kwargs)

In [11]:
items_groups.shape

(60060, 13)

In [12]:
items_groups.head(5) # total number of purchases made within category

,related products,baby food,office goods,"books, disks",breastfeeding products,"textile, knitwear",footwear,oversized goods,toys,women things,goods for pets,cosmetics and hygiene,diapers
Телефон_new,,,,,,,,,,,,,
55515349-57485148505273,0,0,0,0,0,0,0,1,0,0,0,0,0
55515349-57485748544876,0,0,0,0,0,0,0,1,0,0,0,0,0
55535057-57525455575274,0,0,0,0,0,3,0,0,0,0,0,0,0
55545651-57575053555375,0,0,0,0,0,0,1,0,0,0,0,0,0
55574848-48484957505771,0,0,0,0,0,0,0,0,8,0,0,0,0

<h6> Total number of shipping methods used </h6>

In [13]:
list(set(data['МетодДоставки'].values))

['Магазины']

In [14]:
# set 1 if the type exists, 0 otherwise
def sr(x, tag):
    return int((np.array(x).reshape((-1)) == tag).max())

In [15]:
shipping_stats = data[index_sort].groupby(['Телефон_new', 'НомерЗаказаНаСайте']).agg({
    'МетодДоставки': {
        'pickup' : lambda x: sr(x,'Самовывоз'),
        'express delivery' : lambda x: sr(x,'Курьерская'),
        'transport company' : lambda x: sr(x,'Транспортная компания'),
        'DPD' : lambda x: sr(x,'DPD'),
        'pick point' : lambda x: sr(x,'Pick point'),
        'store' : lambda x: sr(x,'Магазины'),
    }
})
shipping_stats.columns = shipping_stats.columns.get_level_values(1)
shipping_stats = shipping_stats.groupby(level=0).agg('sum')

In [16]:
shipping_stats.shape

(60060, 6)

In [17]:
shipping_stats.head(5) # total number of purchases made within the given shipment method

,pickup,express delivery,transport company,DPD,pick point,store
Телефон_new,,,,,,
55515349-57485148505273,0,0,0,0,0,1
55515349-57485748544876,0,0,0,0,0,1
55535057-57525455575274,0,0,0,0,0,1
55545651-57575053555375,0,0,0,0,0,1
55574848-48484957505771,0,0,0,0,0,1

<h4> Oversized / Undersized stats </h4>

In [18]:
list(set(data['ТипТовара']))

['МГТ', 'КГТ']

In [19]:
item_type_stats = data[index_sort].groupby(['Телефон_new', 'НомерЗаказаНаСайте']).agg({
    'ТипТовара': {
        'Oversized': lambda x: pr(x, 'КГТ'),
        'Compact': lambda x: pr(x, 'МГТ')
    }
})
item_type_stats.columns = item_type_stats.columns.get_level_values(1)
item_type_stats = item_type_stats.groupby(level=0).agg('sum')

In [20]:
item_type_stats.shape

(60060, 2)

<h4> Payment methods </h4>

In [21]:
payment_method_stats = data[index_sort].groupby(['Телефон_new', 'НомерЗаказаНаСайте']).agg({
    'ФормаОплаты': {
        'cash payment': lambda x: sr(x, 'Наличная'),
        'cashless payment': lambda x: sr(x, 'Безналичная')
    }
})
payment_method_stats.columns = payment_method_stats.columns.get_level_values(1)
payment_method_stats = payment_method_stats.groupby(level=0).agg('sum')

In [22]:
payment_method_stats.shape

(60060, 2)

In [23]:
payment_method_stats.head(5) # total number of purchases made within the given payment method

                         cash payment  cashless payment
Телефон_new
55515349-57485148505273             0                 1
55515349-57485748544876             0                 1
55535057-57525455575274             0                 1
55545651-57575053555375             0                 1
55574848-48484957505771             0                 1

<h4> Region </h4>

In [24]:
len(list(set(data['Регион']))) # there are too many regions for the model to get any information

189

<h4> Inside order aggregation </h4>

In [25]:
# count only delivered non calceled items stats
general_stats = data[index_sort].groupby(['Телефон_new', 'НомерЗаказаНаСайте']).agg(
    # count the number of unique items in order
    unique_items_count = ('Количество', 'count'),
    # count overall number of items in order
    all_items_count = ('Количество', 'sum'),
    # average price of all items in order
    avg_item_price = ('Цена', 'mean'),
    # average price of unique items in order
    avg_unique_items_price = ('СуммаСтроки', 'mean'),
    # summed items price
    all_items_price = ('Цена', 'sum'),
    # charge for shipping
    shipping_charge = ('СуммаДоставки', 'mean'),
    # order profit
    all_additional_charges = ('СуммаУслуг', 'mean'),
    # order price
    final_order_price = ('СуммаЗаказаНаСайте', 'mean'),
    # order profit
    total_margin = ('Маржа', 'sum'),
    # average profit from item in order
    avg_item_margin = ('Маржа', 'mean')
)

<h4> Phone number aggregation </h4>

In [26]:
# work with only non-canceled items and delivered orders
users_stats = general_stats.groupby(level = 0).agg(
    # number of successful orders
    successful_orders_count = ('all_items_count', 'count'),
    # avg number of unique items in order
    avg_unique_items_per_order = ('unique_items_count', 'mean'),
    # total number of unique items ever purchased
    all_unique_items_purchased = ('unique_items_count', 'sum'),
    # avg number of items in order
    avg_items_per_order = ('all_items_count', 'mean'),
    # total number of items ever purchased
    all_items_purchased = ('all_items_count', 'sum'),
    
    # avg item price
    avg_item_price = ('avg_item_price', 'mean'),
    # avg unique items price
    avg_unique_items_price = ('avg_unique_items_price', 'mean'),
    # all_items_price
    all_items_price = ('all_items_price', 'sum'),
    # avg items_price per order
    avg_summed_cost_of_items_per_order = ('all_items_price', 'mean'),
    
    
    # total shipping charge
    total_shipping_charges = ('shipping_charge', 'sum'),
    # avg shipping charge
    avg_shipping_charges = ('shipping_charge', 'mean'),
    # total service charges
    total_service_charges = ('all_additional_charges', 'sum'),
    # avg service charges
    avg_service_charges = ('all_additional_charges', 'mean'),
    
    # total orders payment
    total_payment = ('final_order_price', 'sum'),
    # avg orders payment
    avg_payment = ('final_order_price', 'mean'),
    
    
    # total profit
    total_profit = ('total_margin', 'sum'),
    # average profit per order
    avg_order_profit = ('total_margin', 'mean'),
    # average profit per item
    avg_item_profit = ('avg_item_margin', 'mean')
)

In [27]:
users_stats.shape

(60060, 18)

In [28]:
users_stats.head(5)

,successful_orders_count,avg_unique_items_per_order,all_unique_items_purchased,avg_items_per_order,all_items_purchased,avg_item_price,avg_unique_items_price,all_items_price,avg_summed_cost_of_items_per_order,total_shipping_charges,avg_shipping_charges,total_service_charges,avg_service_charges,total_payment,avg_payment,total_profit,avg_order_profit,avg_item_profit
Телефон_new,,,,,,,,,,,,,,,,,,
55515349-57485148505273,1,1.0,1,1.0,1,3040.000,3040.000,3040,3040.0,0,0.0,0,0.0,3040,3040.0,1864,1864.0,1864.000000
55515349-57485748544876,1,1.0,1,1.0,1,4799.000,4799.000,4799,4799.0,0,0.0,0,0.0,4799,4799.0,960,960.0,960.000000
55535057-57525455575274,1,3.0,3,3.0,3,329.000,329.000,987,987.0,0,0.0,0,0.0,987,987.0,451,451.0,150.333333
55545651-57575053555375,1,1.0,1,1.0,1,1050.000,1050.000,1050,1050.0,49,49.0,49,49.0,1099,1099.0,470,470.0,470.000000
55574848-48484957505771,1,8.0,8,8.0,8,427.375,427.375,3419,3419.0,99,99.0,99,99.0,3518,3518.0,659,659.0,82.375000

<h4> Cancellations stats </h4>

In [29]:
# number of orders that are canceled
cancellations_stats = data.groupby(['Телефон_new', 'НомерЗаказаНаСайте']).agg({
    'Отменено': {
        'number_canceled' : lambda x: pr(x,'Да'),
        'avg_number_canceled': lambda x: (np.array(x) == 'Да').mean(),
    },
    'Статус': {
        'is_delivered': lambda x: int((np.array(x) == 'Доставлен').max()) # at least one item was delivered
    }
})
cancellations_stats.columns = cancellations_stats.columns.get_level_values(1)
cancellations_stats = cancellations_stats.groupby(level=0).agg(
    # total number of canceled items
    number_canceled = ('number_canceled', 'sum'),
    # average number of items canceled in order
    avg_number_canceled = ('avg_number_canceled', 'mean'),
    # total orders delivered
    total_delivered = ('is_delivered', 'sum'),
    # average orders delivered out of all orders made
    avg_delivered = ('is_delivered', 'mean')
)

In [30]:
cancellations_stats.shape

(60061, 4)

<h3> Put it all together </h3>

In [31]:
# valid phone numbers
valid_phones = list(set(data[index_sort]['Телефон_new']))
cancellations_stats_valid = cancellations_stats.loc[valid_phones]

In [32]:
# get shares instead of counters
items_groups_share = items_groups.div(users_stats['all_unique_items_purchased'].values, axis='rows')
shipping_stats_share = shipping_stats.div(users_stats['successful_orders_count'].values, axis='rows')
item_type_stats_share =  item_type_stats.div(users_stats['all_unique_items_purchased'].values, axis='rows')
payment_method_stats_share = payment_method_stats.div(users_stats['successful_orders_count'].values, axis='rows')

In [33]:
# check shape
assert users_stats.shape[0] == items_groups_share.shape[0] == shipping_stats_share.shape[0] ==\
item_type_stats_share.shape[0] == payment_method_stats_share.shape[0] == cancellations_stats_valid.shape[0]

In [34]:
data_mart = users_stats.join(items_groups_share)
data_mart = data_mart.join(shipping_stats_share)
data_mart = data_mart.join(item_type_stats_share)
data_mart = data_mart.join(payment_method_stats_share)
data_mart = data_mart.join(cancellations_stats_valid)

In [35]:
data_mart.index = data_mart.index.rename('phone')
data_mart = data_mart.iloc[1:]

In [40]:
data_mart.to_csv('data_mart.csv', sep=',', encoding='cp1251')

In [39]:
data_mart.to_excel('data_mart_excel.xlsx', sheet_name='data_mart')